build/
obj/
lib/
__pycache__/
swig/dnnc_api.cpp
swig/dnnc_swig_externs.h

*.o
*.so
*.a
a.out
*.exe
*.dll
*.zip
*.gz
*.7z
*.tar
*.rar
*.pyc
*.log

*.cflags
*.cxxflags
*.config
*.creator
*.files
*.includes



swig/dnnc.py*
swig/dnnc.py
swig/dnnc_swig.cpp
