build/
obj/
lib/
__pycache__/
deepC/dnnc_api.cpp
deepC/dnnc_swig_externs.h

*.o
*.so
*.a
a.out
*.exe
*.dll
*.zip
*.gz
*.7z
*.tar
*.rar
*.pyc
*.log

*.cflags
*.cxxflags
*.config
*.creator
*.files
*.includes



deepC/dnnc.py*
deepC/dnnc.py
deepC/dnnc_swig.cpp
